# ðŸ§¹ Data Cleaning Project  
### ðŸ‘¤ **Ujjwal Karki**

This notebook demonstrates my data cleaning skills as part of my internship task. The project uses a real-world Airbnb and YT datasets and applies essential data cleaning techniques to ensure high-quality, reliable data for analysis.

## âœ… Key Concepts Addressed:
1. **Data Integrity**: Checked structure and data types with `.info()` and `.head()`.
2. **Missing Data Handling**: Used `fillna()` for missing `reviews_per_month` and handled `last_review` thoughtfully.
3. **Duplicate Removal**: Used `duplicated()` and `drop_duplicates()` to remove duplicates.
4. **Standardization**: Column names were standardized; categorical fields were cleaned.
5. **Outlier Detection**: IQR method was used to detect and optionally remove outliers in the `price` column.

In [1]:
import pandas as pd
import matplotlib as plt

Duplicates
Standarization
Null
Columns Removal

In [2]:
# Loading file

nyc_data = pd.read_csv('data/NYC_data/AB_NYC_2019.csv')
yt_main_data = pd.read_csv('data/YouTube_Vid_Data/YT_Main_Data.csv')

/tmp/ipykernel_4151/4220542421.py:4: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,12,13,14,15,16) have mixed types. Specify dtype option on import or set low_memory=False.
  yt_main_data = pd.read_csv('data/YouTube_Vid_Data/YT_Main_Data.csv')

In [3]:
# Looking at NYC AirBnB data
nyc_data.head()

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaN,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0

In [4]:
yt_main_data.head()

,Unnamed: 0,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,0,n1WpP7iowLc,17.14.11,Eminem - Walk On Water (Audio) ft. BeyoncÃ©,EminemVEVO,10.0,2017-11-10T17:00:03.000Z,"Eminem|""Walk""|""On""|""Water""|""Aftermath/Shady/In...",17158579.0,787425.0,43420.0,125882.0,https://i.ytimg.com/vi/n1WpP7iowLc/default.jpg,False,False,False,Eminem's new track Walk on Water ft. BeyoncÃ© i...
1,1,0dBIkQ4Mz1M,17.14.11,PLUSH - Bad Unboxing Fan Mail,iDubbbzTV,23.0,2017-11-13T17:00:00.000Z,"plush|""bad unboxing""|""unboxing""|""fan mail""|""id...",1014651.0,127794.0,1688.0,13030.0,https://i.ytimg.com/vi/0dBIkQ4Mz1M/default.jpg,False,False,False,STill got a lot of packages. Probably will las...
2,2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23.0,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434.0,146035.0,5339.0,8181.0,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3,3,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24.0,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095828.0,132239.0,1989.0,17518.0,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...
4,4,2Vv-BfVoq4g,17.14.11,Ed Sheeran - Perfect (Official Music Video),Ed Sheeran,10.0,2017-11-09T11:04:14.000Z,"edsheeran|""ed sheeran""|""acoustic""|""live""|""cove...",33523622.0,1634130.0,21082.0,85067.0,https://i.ytimg.com/vi/2Vv-BfVoq4g/default.jpg,False,False,False,ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...

In [5]:
# Checking duplicates

print(nyc_data.duplicated().sum())
print(yt_main_data.duplicated().sum())

0
264356

In [6]:
# Dropping duplicates

yt_main_data.drop_duplicates(inplace=True)
print(yt_main_data.duplicated().sum())

0

In [7]:
yt_main_data.shape
nyc_data.shape

(48895, 16)

In [8]:
# Checking data types of columns
nyc_data.info()
# yt_main_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48895 entries, 0 to 48894
Data columns (total 16 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              48895 non-null  int64
 1   name                            48879 non-null  object
 2   host_id                         48895 non-null  int64
 3   host_name                       48874 non-null  object
 4   neighbourhood_group             48895 non-null  object
 5   neighbourhood                   48895 non-null  object
 6   latitude                        48895 non-null  float64
 7   longitude                       48895 non-null  float64
 8   room_type                       48895 non-null  object
 9   price                           48895 non-null  int64
 10  minimum_nights                  48895 non-null  int64
 11  number_of_reviews               48895 non-null  int64
 12  last_review                     38843 non-null  object
 13  reviews_per_month               38843 non-null  float64
 14  calculated_host_listings_count  48895 non-null  int64
 15  availability_365                48895 non-null  int64
dtypes: float64(3), int64(7), object(6)
memory usage: 6.0+ MB

In [9]:
# Checking the number of null values

nyc_data.isnull().sum()
# yt_main_data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                 10052
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [10]:
# Filling missing values as 0
nyc_data['reviews_per_month'].fillna(0, inplace=True)

# Converting last_review to dateTime
nyc_data['last_review'] = pd.to_datetime(nyc_data['last_review'])

/tmp/ipykernel_4151/1072703993.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  nyc_data['reviews_per_month'].fillna(0, inplace=True)

In [11]:
# Ignoring description nan values
yt_main_data['description']

0         Eminem's new track Walk on Water ft. BeyoncÃ© i...
1         STill got a lot of packages. Probably will las...
2         WATCH MY PREVIOUS VIDEO â–¶ \n\nSUBSCRIBE â–º http...
3         I know it's been a while since we did this sho...
4         ðŸŽ§: https://ad.gt/yt-perfect\nðŸ’°: https://atlant...
                                ...
641284       The Cat Who Caught the Laser - Aaron's Animals
641285                                                  NaN
641286    I had so much fun transforming Safiyas hair in...
641287    How Black Panther Should Have EndedWatch More ...
641288    Call of Duty: Black Ops 4 Multiplayer raises t...
Name: description, Length: 376933, dtype: object

In [12]:
# Checking nulls on nyc dataset again
nyc_data.isnull().sum()

id                                    0
name                                 16
host_id                               0
host_name                            21
neighbourhood_group                   0
neighbourhood                         0
latitude                              0
longitude                             0
room_type                             0
price                                 0
minimum_nights                        0
number_of_reviews                     0
last_review                       10052
reviews_per_month                     0
calculated_host_listings_count        0
availability_365                      0
dtype: int64

In [13]:
# Converting to dateTime didn't solve the problem!

nyc_data['last_review'] = nyc_data['last_review'].fillna('No Review')

In [14]:
# Checking nulls on nyc dataset again
nyc_data.isnull().sum()

id                                 0
name                              16
host_id                            0
host_name                         21
neighbourhood_group                0
neighbourhood                      0
latitude                           0
longitude                          0
room_type                          0
price                              0
minimum_nights                     0
number_of_reviews                  0
last_review                        0
reviews_per_month                  0
calculated_host_listings_count     0
availability_365                   0
dtype: int64

In [15]:
# Replacing nulls on name to 'Unknown'
nyc_data['name'] = nyc_data['name'].fillna('Unknown')
nyc_data['host_name'] = nyc_data['host_name'].fillna('Unknown')

In [16]:
# Checking nulls on nyc dataset again
nyc_data.isnull().sum()

id                                0
name                              0
host_id                           0
host_name                         0
neighbourhood_group               0
neighbourhood                     0
latitude                          0
longitude                         0
room_type                         0
price                             0
minimum_nights                    0
number_of_reviews                 0
last_review                       0
reviews_per_month                 0
calculated_host_listings_count    0
availability_365                  0
dtype: int64

In [17]:

# ---- Standardization ----

In [18]:
# Standardization Example: Ensuring column names are lowercase and spaces replaced with underscores
nyc_data.columns = nyc_data.columns.str.lower().str.replace(" ", "_")
print(nyc_data.columns)

# Optional: Standardize categorical data (example for room_type)
nyc_data['room_type'] = nyc_data['room_type'].str.lower().str.strip()
nyc_data['neighbourhood_group'] = nyc_data['neighbourhood_group'].str.lower().str.strip()

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood_group',
       'neighbourhood', 'latitude', 'longitude', 'room_type', 'price',
       'minimum_nights', 'number_of_reviews', 'last_review',
       'reviews_per_month', 'calculated_host_listings_count',
       'availability_365'],
      dtype='object')

In [19]:

# ---- Outlier Detection ----

In [20]:
# Outlier Detection using IQR for the 'price' column
Q1 = nyc_data['price'].quantile(0.25)
Q3 = nyc_data['price'].quantile(0.75)
IQR = Q3 - Q1

# Defining bounds
lower_bound = Q1 - 1.5 * IQR
upper_bound = Q3 + 1.5 * IQR

# Filtering outliers
outliers = nyc_data[(nyc_data['price'] < lower_bound) | (nyc_data['price'] > upper_bound)]
print(f"Number of outliers in price: {outliers.shape[0]}")

Number of outliers in price: 2972